/*MAIN STYLE SHEET*/
@font-face 
{
	font-family: Alegreya;
	src: url(fonts/Alegreya-Black.ttf) format('truetype');
}

@font-face 
{
	font-family: Alegreya;
	src: url(fonts/Alegreya-BlackItalic.ttf) format('truetype');
	font-style: italic;
}

* 
{
  box-sizing: border-box;
}

body 
{
	font-family: 'Alegreya';
	font-size: 1em;
	/* position: relative; */
	background-image: url("../images/bkg.jpg");
    color: darkblue;
	width: 80%;
	margin: auto;
}

h1
{
	font-size: 2.7rem;
	font-weight: 500;
	margin-top: 0.5em;
	margin-bottom:0.5em;
}

h3
{
	font-weight: 700;
	font-size: 1.6rem;
}

h4
{	
	font-size: 1.2rem;
	text-align: center;
	font-style: italic;
}

p
{
	color:black;
	font-family: verdana;
	margin-left: 2rem;
	margin-right: 2rem;
}

code
{
	font-size: 1.2rem;
	color: blue; 
}

pre
{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	font-size:calc(6px + 0.5vw);
	background-color: #222222;
	color:  lightblue;
	border-style: inset;
	border-radius: 10px;
	max-width: 95%;
}

/* Style the header */
.header 
{
  grid-area: header;
  background-color: #b1b1f1;
  opacity: 0.95;
  padding: 30px;
  text-align: center;
  color: darkblue;
  font-size: 35px;
}


/* The grid container */
.grid-container 
{
  opacity: 0.95;
  display: grid;
  grid-template-areas: 
    'header header header header header' 
    'left right right right right' 
    'footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

/* Style the left column */
.left 
{
	display: static;
	background-color: rgba(221, 221, 221, 0.95);
	grid-area: left;
	text-align: center;
	padding: 10px;
	font-size:calc(6px + 15vw);
}

/* Style the right column */
.right 
{
  background-color: #ffffff;
  opacity: 0.95;
  grid-area: right;
  text-align: left;
  padding: 10px;
}

/* Style the footer */
.footer 
{
  grid-area: footer;
  background-color: #b1b1f1;
  opacity: 0.95;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: darkblue;
}

/*The chart boxes*/
#ChartA, #ChartB, #ChartC, #ChartD, #ChartE, #ChartF, #ChartG
{
		width: auto;
		height: auto;
		max-width: 1000px;
}

#sideMenu
{
	/* padding-left: 5rem;
		padding-right: 5rem;
	align-self: center; */
}

.menuBtn
{
	background-color: rgba(105, 105, 105,1);
	font-size:calc(6px + 1vw);

	padding: 0.5rem;
}

.menuBtn:hover
{
	background-color: lightblue;
	cursor: pointer;
}	

.menuGap
{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.title
{
	display: inline;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) 
{
	body
	{
		width: 100%;
	}
	
	.grid-container  
	{
    opacity: 0.95;
	display: grid;
	grid-template-areas: 
      'header'
	  'right' 
	  'left'	         
      'footer';
	}
	
	#webChart
	{
		width: auto;
		height: auto;
		max-width: 750px;
	}

	.left
	{
		
		width: 100%;
	}

	.menuBtn
	{
	font-size:calc(6px + 6vw);
	}
	
	table
	{
	margin: auto;
	}
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) 
{
	body
	{
		width: 100%;
	}
	
	.grid-container  
	{
    opacity: 0.95;
	display: grid;
	grid-template-areas: 
      'header'
	  'right' 
	  'left'	         
      'footer';
	}
	
	#ChartA
	{
		width: auto;
		height: auto;
		max-width: 550px;
	}

	.left
	{
		width: 100%;
	}
	
}